.cardBike {
    text-align: left;
    padding: 10px;
}

.cardBike img {
    border-radius: 5px;
    height:430px;
    width: 420px;
}
.modelo{
    color: #2e2e2e; 
}
.preco{
    color: #959599;
    font-size: 25px;
    margin: 10px 0;
}
.btn{
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0;
}